<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsApplication1.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsApplication1.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<userSettings>
        <WindowsApplication1.My.MySettings>
                <setting name="zipdirec" serializeAs="String">
                        <value />
                </setting>
                <setting name="outdirec" serializeAs="String">
                        <value />
                </setting>
                <setting name="appdata" serializeAs="String">
                        <value />
                </setting>
                <setting name="Backup_path" serializeAs="String">
                        <value />
                </setting>
                <setting name="lastupdatecheck" serializeAs="String">
                        <value />
                </setting>
                <setting name="checkForUpdates" serializeAs="String">
                        <value>True</value>
                </setting>
                <setting name="updateurl" serializeAs="String">
                        <value />
                </setting>
                <setting name="SelectedCollection" serializeAs="String">
                        <value />
                </setting>
                <setting name="websiteurl" serializeAs="String">
                        <value>http://minecraft-mod-installer.weebly.com</value>
                </setting>
                <setting name="titleFromInfo" serializeAs="String">
                        <value />
                </setting>
                <setting name="compareTitles" serializeAs="String">
                        <value>True</value>
                </setting>
                <setting name="SelectedCollection_MCversion" serializeAs="String">
                        <value />
                </setting>
                <setting name="AddFiles_BasePath" serializeAs="String">
                        <value />
                </setting>
                <setting name="CurrentlyActivated" serializeAs="String">
                        <value />
                </setting>
                <setting name="showUnreachables" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="sortLists" serializeAs="String">
                        <value>True</value>
                </setting>
        </WindowsApplication1.My.MySettings>
    </userSettings>
    <applicationSettings>
        <WindowsApplication1.My.MySettings>
            <setting name="TestEnvironment" serializeAs="String">
                <value>False</value>
            </setting>
        </WindowsApplication1.My.MySettings>
    </applicationSettings>
</configuration>